extends master

block head
	script(type='text/javascript' src='/js/'+title+'.js')

block content
	h1 Login to DormBizz
	hr
	h3 Login
	|Username:
	input(id="usernameLogin" type="text")
	br
	|Password:
	input(id="passwordLogin" type="password")
	br
	button(onclick="login()") Login
	br
	br
	h3 Register
	|First Name:
	input(id="firstName" type="text")
	br
	|Last Name: 
	input(id="lastName" type="text")
	br
	br
	|Profile Picture:
	input(id="profileUrl" type="text" placeholder="Enter a URL")
	br
	br
	|Username:
	input(id="username" type="text")
	br
	|Password: 
	input(id="password" type="password")
	br
	|Retype Password:
	input(id="password2" type="password")
	br
	button(onclick="register()") Register