doctype html
html
	head
		title=title
		script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		link(rel='stylesheet', href='/css/master.css')
		link(rel='stylesheet', href='/css/'+title+'.css')
		block head
	body
		#header
			#title
				|DORM BIZZ
			a(href="/projects/browse")|Browse Projects
			a(href="/users/browse")|Browse People
			a(href="/users/me")|My Profile
			a(href="/projects/mine")|My Projects
			a(href="/login")|Login
			a(href="/logout")|Logout
		#content
			block content