extends master

block head
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/messaging.js"></script>

block content
	|Chat with:
	ul(id="users")
	|Send text:
	input(id="message" type="text")
	button(id="send" onclick="send()")|Send!
