doctype html
html
	head
		title=title
		script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script.
			setTimeout(function () {
				window.location = "#{path}";
			}, 5000);
	body
		=message